# tail-mates PROD Caddyfile
{
	auto_https off
}

# Force HTTP to HTTPS for main domains
# http://tail-mates.dk {
# 	redir https://{host}{uri} permanent
# }

http://:9100 {
	encode gzip

	reverse_proxy /api* tail-mates-api:3100
	reverse_proxy * tail-mates-ui:3101

	handle /cddy {
		respond "Caddytime!"
	}
}
