---
import Welcome from "../components/Welcome.astro";
import FixedBottomMenuLayout from "../layouts/FixedBottomMenuLayout.astro";
import { auth } from "@backend/auth";
import Map from "../components/Map.astro";

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/sign-in");
}
---

<script>
	/* Importing the web-component automatically registers it */
	import "@tail-mates/web-components";
</script>

<FixedBottomMenuLayout title="Map - Tail Mates">
	<draggable-drawer slot="body" color="white">
		<div slot="body" style="height: 100%;">
			<Map />
		</div>
		<div slot="drawer">
			<Welcome {session} />
		</div>
	</draggable-drawer>
	<li slot="buttons"><button>Save</button></li>
	<li slot="buttons"><button>Cancel</button></li>
</FixedBottomMenuLayout>
