---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
// Testing without auth first to verify map functionality
---

<Layout title="Map Test - Tail Mates">
	<div class="map-page">
		<Map />
	</div>
</Layout>

<style>
	/* Ensure full-page layout for the map */
	.map-page {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1;
	}
</style>