---
import Map from "../components/Map.astro";
import FixedBottomMenuLayout from "../layouts/FixedBottomMenuLayout.astro";
---

<FixedBottomMenuLayout title="Map - Tail Mates">
	<Map slot="body" />
	<li slot="buttons"><button>Save</button></li>
	<li slot="buttons"><button>Cancel</button></li>
</FixedBottomMenuLayout>
